@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
:root {
    --font: 'Roboto Mono', monospace;
    --background-red: #fa655a;
    --background-pink: #ffbbf2;
    --link-pink: #ffd4fa;
    --background-black: #08080a;
    --link-black: #05081A;
    --text-blue: #8095f3;
    --color: black;
    --max-width: 50em;
    --max-link-width: 30em;
}

body {
    color: var(--color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    font-size: 350%;
    font-stretch: condensed;
    padding: 10% 10% 0% 10%;
    line-height: 95%;
}

h2 {
    text-align: center;
    font-size: 120%;
}

.subheading {
    font-size: 150%;
}

.filler {
    height: 15em;
    width: 100%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

footer {
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.link {
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    /* font-size: 1.2rem; */
    font-weight: 500;
    border-radius: 5px;
    border: dashed var(--color) 2px;
    text-align: center;
    text-decoration: none;
    color: var(--color);
    word-wrap: break-word;
    width: 90%;
    max-width: var(--max-link-width);
    background-color: #ff9f98;
}

.dark {
    background-color: #1a1a47;
    color: var(--text-blue);
    border: dashed var(--text-blue) 2px;
}

img {
    border-radius: 0%;
    max-width: var(--max-width);
    width: 100%;
}

title {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}